
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
	font-family: 'Roboto', sans-serif;
}
.nav ul{
	list-style: none;
	background: #bdb8d7;
	padding:0;
	margin: 0;
	text-align: center;
	
}
.nav a{
	color: #fff;
	width:100px;
	display:block;
	padding: 10px;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
.nav a:hover{
	background-color: #8379b4; 
}
.nav li{
	display: inline-block;
}


.aboutMe{
	border-bottom: solid 1px;
}
.aboutMe p{
	display: inline-block;
	margin-left: 40px;
	margin-right: 40px;
	flex-wrap: wrap;
	align-items: center;
}

.tab{
	display: inline-block;
	margin-left: 40px;
}

.homePage{
	border-bottom: solid 1px;
}

.homePage h1{
	text-align: center;
	text-transform: uppercase;
}

.homePage p{
	text-align: center;
	padding-top: 70px;
	padding-bottom: 10px;
}

.button {
	text-align: center;
	
  }

.resume{
	padding-left:50px;
}